*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background-color: #B4B4B8;
    border-radius:50px 50px 50px 50px;
    z-index: 10;
}
 
.topnav-1{
    
    overflow: hidden;
    /* margin: 250px; */
    border-radius: 50px;
    padding:10px;
    /* text-decoration:none; */
    font-size:25px;
    
}
.topnav-2{
    background-color: #B4B4B8;
    overflow: hidden;
    /* margin: 250px; */
    border-radius: 50px;
    padding:10px;
    /* text-decoration:none; */
    font-size:25px;
    

}

.topnav-1 a{
    text-decoration:none;
    padding:20px;
    color:white;

}

.topnav-2 a{
    text-decoration:none;
    padding:20px;
    color:white;

}
.banner{
    background-image: url(./img/thruhiking-couple.webp);
    height: 90vh;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
    

.heading h1{
    color: rgb(185, 13, 13);
    font-size: 40px;
}


.heading input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  .banner .heading button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right:250px;
    background: #ddd;
    font-size: 40px;
    border: none;
    cursor: pointer;
  }

.banner .heading input[type=text]{
    height:50px;
    width:250px;
    border-radius: 10px 10px 10px 10px;
}

.icons{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:2    
}

